{
  "hosts": [ "tcp://{{ ansible_eth1.ipv4.address }}:2375", "unix:///var/run/docker.sock" ],
  "dns": [ "{{ ansible_eth1.ipv4.address }}" ],
  "ip": "{{ ansible_eth1.ipv4.address }}",
  "insecure-registries": [ "{{ docker_privateregistry_address }}" ]
}
